<center>
  <p>{{studentdetails}}</p>
  <form action="/postdetail" method="post">
  PROFILE PICTURE:<input type="file" name="profilepic"><br>
    STUDENT NAME:<INPUT type="text" name="studentname"><br>
    FATHER NAME:<INPUT type="text" name="fathername"><br>
    PHONE NUMBER:<input type="text" name="phonenumber"><br>
    EMAIL ID:<input type="text" name="email"><br>
    <input type="submit" value="submit">


  </form>



</center>
