<a href="/add">ADD STUDENT
  <img src="./ga.jpg" >
</a> <BR>

<a href="/read">READ STUDENT DETAILS</a> <BR>
<a href="/update">UPDATE STUDENT DETAILS</a> <BR>
<a href="/delete">DELETE STUDENT DETAILS</a> <BR>
