<!--<center>
  <form  action="/results">
    <img src="../images/results.jpg">
    <input type="submit" value="results">
  </form>




</center>
-->
<center>
  <form action="/studentinfo" method="post">
    ADMINSSION NUMBER:<input type="text" name="admissionnumber"><br>
    NAME:<INPUT type="text" name="name"><br>
    LAST NAME:<INPUT type="text" name="lastname"><br>
    MOTHER NAME:<INPUT type="text" name="mothername"><br>
    FATHER NAME:<INPUT type="text" name="fathername"><br>
    GUARDIAN NAME:<INPUT type="text" name="guardianname"><br>
    PHONE NUMBER:<INPUT type="text" name="phonenumber"><br>
    MAIL ID:<INPUT type="text" name="mailid"><br>
    CLASS:<INPUT type="text" name="class"><br>
    BOOLD GROUP:<INPUT type="text" name="bg"><br>
    ADDRESS:<INPUT type="text" name="address"><br>
    <input type="submit" value="SAVE">
  </form>




</center>
